
th {
    padding: 5px;
}

table {
    border: none;
    width: 100%;
    margin-bottom: 50px;
    margin-top: 50px;
}

.data {
    padding: 10px;
    border: solid 2px rgb(255, 255, 255);
}

.data:hover {
    border: solid 2px rgb(36, 48, 155);
}

tr {
    background-color: #2dabe10c;
}

tr:hover {
    background-color: #2dabe136;
}

tr:active {
    background-color: #2dabe150;
}

.table_title {
    background-color: #b8e6fa;
    position: sticky;
}
